// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap');
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// Base
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(30%, 49%, 99%, 68%);
  --pink-color: #F037A5;
  --text-color: #F8F8F8;
  --nav-mob-color: #3D4A6A;

  --body-font: 'Poppins', 'sans-serif';
  --nav-font: 'Roboto', 'sans-serif';
}

body {
  color: black;
  font-family: var(--body-font);
  font-weight: $font-regular;
}

h1, h2, ul, p{
  margin: 0;  
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*========== HEADER ==========*/
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  z-index: 1;
}

/*========== NAV ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: var(--nav-font);

  @media screen and(max-width: 768px){
      &__menu{
          position: fixed;
          top: -100%;
          left: 0;
          right: 0;
          width: 90%;
          margin: 0 auto;
          text-align: center;
          padding-top: 1.5rem;
          border-radius: 1rem;
          background-color: var(--nav-mob-color);
          transition: .4s;
      }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__register {
    background-color: var(--pink-color);
    padding: 7px;
    width: 30%;
    margin: 0 auto 1.5rem auto;
    border-radius: 8px;
    transition: 0.25s all ease-in;
  }

  &__register:hover {
    background-color: #e4058b;
  }

  &__logo{
      color: var(--text-color);
      font-size: 1.3rem;
      font-weight: $font-bold;
      letter-spacing: 1px;
      margin-left: 2px;
  }
  &__link{
      color: var(--text-color);
      transition: 0.2s all ease;
      &:hover {
        color: var(--pink-color);
      }
  }
  &__item{
      margin-bottom: 1.5rem;
  }
  &__toggle{
    color: var(--text-color);
      font-size: 1.7rem;
      cursor: pointer;
  }

}

/* Show menu */
.show-menu{
  top: 8%;
}

/*========== HERO ==========*/
.hero{
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;

  &__bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
      z-index: -1;
  }

  &__container {
    color: var(--text-color);
    margin: auto 2rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: $font-bold;
    margin-bottom: 0.9rem;
  }

  &__subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
    width: 80%;
  }

  &__button{
    display: inline-flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--pink-color);
    color: var(--text-color);
    border-radius: .5rem;
    font-weight: 700;
    transition: .2s all ease-in;

    &:hover{
        background-color: #e4058b;
    }

    &-icon{
        font-size: 1.8rem;
        margin-left: .2rem;
    }
  }

  &__lower {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 1.8rem;
  }
}

.icon-link {
  color: var(--text-color);
  transition: .2s all ease;
}

.icon-link:hover {
  color: var(--pink-color);
}

.bottom {
  position: absolute;
  bottom: 0.3rem; 
  right: 0; 
  left: 0;
  margin-left: auto; 
  margin-right: auto; 
  width: 150px;
  color: white;
  font-size: 0.8rem;
}



/*========== MEDIA QUERIES ==========*/
/* For small devices */
@media screen and(max-width: 400px){
  .bd-container{
      margin-left: 1rem;
      margin-right: 1rem;
  }

  .hero {
    &__title {
      font-size: 2.3rem;
    }

    &__subtitle {
      font-size: 0.8rem;
      width: 99%;
    }
  }
}

@media screen and(min-width: 768px){

  .header {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .nav {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto 3rem;
      
    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }

      &__list{
          display: flex;
      }
      &__item{
          margin-right: 3.4rem;
          margin-bottom: 0;
          font-weight: 500;
          letter-spacing: 0.5px;
      }
      &__link{
          font-size: 1.1rem;
          color: var(--text-color);
      }
      &__toggle{
          display: none;
      }
      &__register {
        margin-bottom: 0;
        width: 8rem;
        height: 2.4rem;
        font-size: 1.1rem;
        text-align: center;
        font-weight: 500;
      }

      &__logo {
        font-size: 1.7rem;
      }
  } 

  .hero {

    justify-content: start;

    &__container {
      display: flex;
      width: 100%;
      margin: auto 5rem auto 5rem;
      justify-content: space-between;
    }


    &__title {
      font-size: 4rem;
    }

    &__subtitle {
      font-size: 1.3rem;
      width: 40rem;
    }

    &__lower {
      position: static;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 2.3rem;
   }

  }
}
